.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border: 1px var(--primary) solid;
}

.dragbox{
    width: 300px;
    height: 300px;
    border: 1px var(--primary) solid;
}

.App{
    width: 5000px;
    height: 5000px;
    background-color: var(--bg);
    color: var(--primary);
    transition: all 0.5s;
}

.App[color-mode = "false"]{
    --bg : #f7f7f7;
    --primary : #000000;
}

.App[color-mode = "true"]{
    --bg : rgb(12, 12, 12);
    --primary : #ffffff;
}

*{
    margin: 0;
}